exportPattern("^[^\\.]")
useDynLib(Prola2020.Sci.Adv)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(magrittr, "%>%")
importFrom(stringr, str_extract)
importFrom(plyr, rbind.fill)
importFrom(plyr, mutate)
importFrom(nlme, nlme)
importFrom(nlme, groupedData)
importFrom(nlme, gnls)
importFrom(nlme, varConstPower)
S3method(formula, triexpModel)
S3method(vcovsMeans, default)
